<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>
    Person page
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p th:text="${person.getName()} + ' ' + ${person.getId()}"/>

<form th:method="GET" th:action="@{/people/{id}/edit (id=${person.getId()})}">
  <button>Edit</button>
</form>

<form th:method="DELETE" th:action="@{/people/{id} (id=${person.getId()})}">
  <button>Delete</button>
</form>

</body>
</html>