<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

  <context:property-placeholder location="classpath:application.properties"/>

  <bean id="testBean"
    class="org.example.springcore.TestBean.TestBean"
    init-method="myInit"
    destroy-method="myDestroy">
    <constructor-arg value="Iya"/>
  </bean>

  <bean id="classicalMusicBean"
    class="org.example.springcore.DI.ClassicalMusic">
  </bean>

  <bean id="rockMusicBean"
    class="org.example.springcore.DI.RockMusic">
  </bean>

<!--  Dependency Injection in constructor -->
  <bean id="musicPlayer"
    class="org.example.springcore.DI.MusicPlayer">
    <constructor-arg ref="classicalMusicBean"/>
  </bean>

  <!--  Dependency Injection in setter -->
  <bean id="musicPlayerSetter"
    class="org.example.springcore.DI.MusicPlayer">
    <property name="music" ref="rockMusicBean"/>
    <property name="volume" value="3"/>
  </bean>


  <!-- Dependency Injection from file -->
  <bean id="musicPlayerFile"
    class="org.example.springcore.DI.MusicPlayer">
    <property name="music" ref="${musicPlayerFile.music}"/>
    <property name="volume" value="${musicPlayerFile.volume}"/>
  </bean>

  <!--  Scope prototype and singleton. DependencyInjection in constructor-->
  <bean id="musicPlayerScopePrototype"
    class="org.example.springcore.DI.MusicPlayer"
    scope="prototype">
    <constructor-arg ref="classicalMusicBean"/>
  </bean>

  <bean id="musicPlayerScopeSingleton"
    class="org.example.springcore.DI.MusicPlayer"
    scope="singleton">
    <constructor-arg ref="rockMusicBean"/>
  </bean>


</beans>